body, html {
    margin: 0;
    padding: 0;
  }

  .row-big {
    height: 200px;
    width: 100%;
  }
  
  .row-1 {
    height: 100px;
    width: 100%;
    background: rgb(218, 218, 218);
    padding: 25px;
    box-sizing: border-box;
  }
  
  .row-1-smallbox {
    width: 50px;
    height: 50px;
    background: rgb(98, 165, 241);
  }
  
  .row-2 {
    background: #fff;
    box-sizing: border-box;
    padding: 50px;
  }
  
  .row-3 {
    height: 100px;
    width: 100%;
    background: #4A90E2;
  }
  
  .row-4 {
    height: 100px;
    width: 100%;
    background: #50E3C2;
  }
  
  .row-5 {
    height: 100px;
    width: 100%;
    background: #B8E986;
  }
  
  .row-6 {
    height: 100px;
    width: 100%;
    background: #F8E71C;
  }